SECRET_KEY=SECRET_KEY
DEBUG=1

# aiogram 
SUBSCRIPTION_CHANNEL_ID=SUBSCRIPTION_CHANNEL_ID

# redis
REDIS_URL=redis://localhost:6379/0

# Database settings
DB_NAME=DATABASE_NAME
DB_USER=USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=5432 # default port
